/* ----------- Product Grid ----------- */

#shcp_items {
  list-style: none;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

#shcp_items li {
  float: left;
  width: 162px;
  height: 260px;
  margin: 0 0 10px 4px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #fff;
  position: relative;
}

#shcp_items li:hover {
  border: 1px solid #8FC7FC;
}

#shcp_items div.shcp-quickview {
  position: absolute;
  top: -2px;
  left: 50px;
  display: none;
}

#shcp_items div.shcp-quickview a {
  background: url('../images/product-sprite.gif') no-repeat scroll -294px -18px;
  text-indent: -5000px;
  text-transform: capitalize;  
  display: block;
  height: 27px;
  width: 81px;
}

#shcp_items p.shcp-image {
  height: 140px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}

#shcp_items p.shcp-image img {
  margin: 0;
}

#shcp_items p.shcp-title {
  font-size: 12px;
  height: 30px;
  line-height: 15px;
  overflow: hidden;
  margin: 0 0 10px 0;
}

#shcp_items p.shcp-title a {
  color: #4182DA;  
  text-decoration: none;
}

#shcp_items p.shcp-title a:hover {
  color: #4182DA;  
  text-decoration: underline;
}

#shcp_items p.shcp-item-price {
  height: 36px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

#shcp_items p.shcp-item-price span {
  color: #8DA351;
  font-size: 16px;
}

#shcp_items p.shcp-item-price del {
  color: #9B9B9B;
  font-size: 12px;
}

#shcp_items a.addtocart {
  background: url('../images/product-sprite.gif') no-repeat scroll -295px -47px;
  cursor: pointer;
  display: block;
  height: 22px;
  width: 80px;
  text-indent: -5000px;
  text-transform: capitalize;
  overflow: hidden;
}

/* ----------- Quickview Modal ----------- */

/* the overlayed element */
#shcp_quickview_modal {
	display: none;
	z-index: 10000;
	width: 675px;	
  padding: 14px;
	text-align: left;
	
	background: #CFE4F3;
  background: rgba(143, 199, 252, 0.70);
/*  background: hsla(207, 63%, 61%, 0.8);*/
	
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px;
  position: relative;
}

#shcp_quickview_modal #shcp_product-detail {
	background-color: #fff;  
	padding: 15px 15px 30px;
}

#shcp_quickview_modal .quickview_wrapper {
  height: 400px;
  overflow: auto;  
  margin-top: 10px;
}

#shcp_quickview_modal .close_button {
  margin-right: 15px;
}

#shcp_quickview_modal .close {
  background: url('../images/product-sprite.gif') no-repeat scroll 25px -195px;    
  display: block;
  width: 77px;
  height: 15px;
  margin-top: 15px;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}


/* ----------- Cart Confirmation Modal ----------- */

/* the overlayed element */
#shcp-cartconfirm {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#fff;
	
	width:675px;	
	min-height:200px;
	
    padding:15px;
	text-align:left;
	border:5px solid #4B93D9;

	background: #8fc7fc;
  background: rgba(81, 156, 217, 0.2);
	background: hsla(207, 63%, 61%, 0.8);
	
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	border-radius: 8px;
}

#shcp_cartconfirm_close {
  position: absolute;
  top: 15px;
  right: 30px;
}
.shcp-image-tank {
width: 248px;
}
/* ----------- Product Detail ----------- */

#shcp_product-detail {
  font-family: arial, helvetica, sans-serif;    
}

#shcp_product-detail .shcp-image-tank {
  float: left;
}

#shcp_product-detail .shcp-current-image {
  overflow: hidden;
}  

#shcp_product-detail img {
  float: left;
  padding: 1px;  
  margin: 0px;
}

#shcp_product-detail .shcp-more-images {
  clear: left;
  border-top: 1px solid #A7C2DD;
  margin-top: 10px;
  padding: 7px 10px 6px;
  height: 42px;
  overflow: hidden;
}

#shcp_product-detail .shcp-more-images .shcp-image-thumbnail {
  padding: 1px;
}

#shcp_product-detail .shcp-more-images a {
  display: block;
  float: left;  
  margin: 0 2px;
  border: 1px solid #9EB2D7;
}

#shcp_product-detail .shcp-more-images a.selected {
  border: 1px solid #E64F22;
}
#shcp_product-detail p {
  clear: none;
  margin-left: 268px;
}
#shcp_product-detail h1 {
  clear: none;
  margin-left: 268px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
}

#shcp_product-detail .shcp-item-shortdesc {
  margin-left: 268px;
  margin-bottom: 20px;  
  font-size: 15px;
  line-height: 18px;
}

#shcp_product-detail .shcp-item-price {
  margin-left: 268px;
}

#shcp_product-detail .shcp-item-price span {
  color: #8DA351;
  font-size: 30px;
}

#shcp_product-detail .shcp-item-price span.price-savings {
  display: block;
  margin: 20px 0 0 0;
  color: #333;  
  font-size: 15px;
  line-height: 18px;  
}

#shcp_product-detail .addtocart {
  margin-left: 268px;  
  background: url('../images/product-sprite.gif') no-repeat scroll -295px -47px;
  cursor: pointer;
  display: block;
  height: 22px;
  width: 80px;
  text-indent: -5000px;
  text-transform: capitalize;
  overflow: hidden;  
}

#shcp_product-detail .shcp-item-longdesc {
  padding: 20px 0 0 0;
  clear: both;
}
/** Cart **/
.cart input.shcp-quantity {
width: 25px;
}
.cart td {
vertical-align: top;
}
.cart .shcp-item-description img {
float: left;
}
.cart .shcp-item-description p {
margin-left: 160px;
clear: none;
}
