/* ----------- Product Grid ----------- */

#shcp_items {
  list-style: none;
  margin: 0;
  font-family: arial, helvetica, sans-serif;
}

#shcp_items li {
  float: left;
  width: 162px;
  height: 260px;
  margin: 0 0 10px 4px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid #fff;
  position: relative;
}

#shcp_items li:hover {
  border: 1px solid #8FC7FC;
}

#shcp_items div.shcp-quickview {
  position: absolute;
  top: -2px;
  left: 50px;
  display: none;
}

#shcp_items div.shcp-quickview a {
  background: url('../images/product-sprite.gif') no-repeat scroll -294px -18px;
  text-indent: -5000px;
  text-transform: capitalize;  
  display: block;
  height: 27px;
  width: 81px;
}

#shcp_items p.shcp-image {
  height: 140px;
  margin-bottom: 10px;
  overflow: hidden;
  text-align: center;
}

#shcp_items p.shcp-image img {
  margin: 0;
}

#shcp_items p.shcp-title {
  font-size: 12px;
  height: 30px;
  line-height: 15px;
  overflow: hidden;
  margin: 0 0 10px 0;
}

#shcp_items p.shcp-title a {
  color: #4182DA;  
  text-decoration: none;
}

#shcp_items p.shcp-title a:hover {
  color: #4182DA;  
  text-decoration: underline;
}

#shcp_items p.shcp-item-price {
  height: 36px;
  line-height: 18px;
  margin: 0 0 10px 0;
}

#shcp_items p.shcp-item-price span {
  color: #8DA351;
  font-size: 16px;
}

#shcp_items p.shcp-item-price del {
  color: #9B9B9B;
  font-size: 12px;
}

#shcp_items a.addtocart {
  background: url('../images/product-sprite.gif') no-repeat scroll -295px -47px;
  cursor: pointer;
  display: block;
  height: 22px;
  width: 80px;
  text-indent: -5000px;
  text-transform: capitalize;
  overflow: hidden;
}
/* the overlayed element */
#shcp_quickview_modal {
	
	/* must be initially hidden */
	display:none;
	
	/* place overlay on top of other elements */
	z-index:10000;
	
	/* styling */
	background-color:#fff;
	
	width:675px;	
	min-height:200px;
	border:1px solid #666;
	
    padding:15px;
	text-align:left;
	border:2px solid #333;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}

/* ----------- Product Detail ----------- */

#shcp_product-detail {
  font-family: arial, helvetica, sans-serif;    
}

#shcp_product-detail img {
  float: left;
}

#shcp_product-detail h1 {
  clear: none;
  margin-left: 268px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
}

#shcp_product-detail p.shcp-item-shortdesc {
  margin-left: 268px;  
  font-size: 15px;
  line-height: 18px;
}

#shcp_product-detail p.shcp-item-price {
  margin-left: 268px;
}

#shcp_product-detail p.shcp-item-price span {
  color: #8DA351;
  font-size: 30px;
}

#shcp_product-detail p.shcp-item-price span.price-savings {
  display: block;
  margin: 20px 0 0 0;
  color: #333;  
  font-size: 15px;
  line-height: 18px;  
}

#shcp_product-detail a.addtocart {
  margin-left: 268px;  
  background: url('../images/product-sprite.gif') no-repeat scroll -295px -47px;
  cursor: pointer;
  display: block;
  height: 22px;
  width: 80px;
  text-indent: -5000px;
  text-transform: capitalize;
  overflow: hidden;  
}

#shcp_product-detail div.shcp-item-longdesc {
  padding: 20px 0 0 0;
  clear: both;
}
